---
import { getCollection } from "astro:content";
import YouTubeEmbed from "../../components/youtube-embed.astro";
import Default from "../../layouts/default.astro";

export async function getStaticPaths() {
    const episodes = await getCollection("episodes");

    return episodes.map((episode) => ({
        params: { id: episode.id },
        props: { episode },
    }));
}

const { episode } = Astro.props;

const title = episode.data.title + " - СофтварьКаст";
const description = episode.data.title;
const tags =
    "официально, official, эпизод" + episode.data.title.split(" ").join(",");
---

<Default {title} {description} {tags}>
    <h1 class="font-intruder text-3xl lg:text-4xl xl:text-5xl text-center mb-4">
        {episode.data.title}
    </h1>
    <div
        class="p-4 md:p-8 pattern-background-animated inline-block rounded-2xl"
    >
        <YouTubeEmbed
            preview={episode.data.preview}
            title={episode.data.title}
            videoId={episode.data.youtube_id}
            class="w-128"
        />
    </div>
</Default>
