---
import { getCollection } from "astro:content";
import YouTubeEmbed from "@components/youtube-embed.astro";
import EpisodeDetails from "@components/episode/details.astro";
import EpisodeNavigation from "@components/episode/navigation.astro";
import Default from "@layouts/default.astro";

import ExtractTagsFromTitle from "@utils/extract-tags-from-title";

export async function getStaticPaths() {
    const episodes = await getCollection("episodes");

    return episodes.map((episode) => ({
        params: { id: episode.id },
        props: { episode },
    }));
}

const { episode } = Astro.props;

const title = episode.data.title + " - СофтварьКаст";
const description = episode.data.description;
const tags =
    "официально, official, эпизод, " + ExtractTagsFromTitle(episode.data.title);
---

<Default {title} {description} {tags}>
    <article>
        <div class="text-center mb-4 lg:mb-8 flex flex-col gap-2 items-center">
            <h1 class="font-intruder text-3xl lg:text-4xl xl:text-5xl">
                {episode.data.title}
            </h1>
            <!-- <a
                href={"/episodes/audio/" + episode.id}
                class="font-intruder text-xl lg:text-3xl xl:text-4xl underline underline-offset-4 xl:underline-offset-8 w-fit"
            >
                Переключить на аудио-версию
            </a> -->
            <EpisodeNavigation {episode} navigate={true} />
        </div>
        <div class="flex flex-col gap-6">
            <section class="mx-2">
                <div class="rounded-2xl lg:rounded-3xl overflow-hidden w-full">
                    <YouTubeEmbed
                        preview={episode.data.preview}
                        title={episode.data.title}
                        videoId={episode.data.youtube_id}
                        class="w-full"
                    />
                </div>
            </section>
            <EpisodeDetails {episode} />
            <EpisodeNavigation {episode} />
        </div>
    </article>
</Default>
