---
/*
    Copyright 2025 Danila Kononov a.k.a. moony (C)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/
import "../styles/global.css";
import Head from "../components/head.astro";
import Footer from "../components/footer.astro";
import brand from "../images/brand.webp";
import { Picture } from "astro:assets";

import IconSection from "../components/iconsection.astro";
import IconLink from "../components/iconlink.astro";
import youtube from "../images/icons/youtube.png";
import telegram from "../images/icons/telegram.png";
import vk from "../images/icons/vk.webp";
import applePodcasts from "../images/icons/apple-podcasts.png";
import yandexMusic from "../images/icons/yandex-music.png";
import castbox from "../images/icons/castbox.png";
import overcast from "../images/icons/overcast.png";
import pocketcasts from "../images/icons/pocketcasts.png";
import deezer from "../images/icons/deezer.png";
import zvuk from "../images/icons/zvuk.png";
import podcastAddict from "../images/icons/podcast-addict.png";
import donationAlerts from "../images/icons/donation-alerts.png";
import boosty from "../images/icons/boosty.png";
---

<html lang="ru" dir="ltr">
    <Head description="Подкаст посвящен программам на любой вкус: от операционных систем, до приложений всех сортов и мастей, от Open-Source решений до корпоративных продуктов. Меня волнуют технологии не только с технической точки зрения, но и пользовательской, а потому - личный опыт, особенности и фишки, инсайды и новости - основа обсуждения."></Head>
    <body class="flex w-full justify-center">
        <main class="max-w-[1024px] min-w-[200px] m-4 flex flex-col gap-8 items-center">
            <Picture src={brand} alt="Brand" width="1024" formats={['avif', 'webp', 'png']} layout="constrained" loading="eager" fetchpriority="high"></Picture>
            <IconSection title="Социальные сети:" id="socials">
                <IconLink src={youtube} alt="YouTube" url="https://youtube.com/@software-cast" text="Канал на YouTube"></IconLink>
                <IconLink src={telegram} alt="Telegram" url="https://t.me/+avV2RbuzDnRiYWMy" text="Канал в Telegram" button="Зайти"></IconLink>
                <IconLink src={vk} alt="VK" url="https://vk.com/softwarecast" text="Группа во ВКонтакте" button="Открыть"></IconLink>
            </IconSection>
            <IconSection title="Слушать/смотреть подкаст:" id="listen">
                <IconLink src={youtube} alt="YouTube" url="https://www.youtube.com/playlist?list=PLAAj7NjK5XfvPIp6TfALQ0kEJ5gdg4l94" text="Видеоверсия на YouTube" button="Смотреть"></IconLink>
                <IconLink src={applePodcasts} alt="Apple Podcasts" url="https://podcasts.apple.com/us/podcast/%D1%81%D0%BE%D1%84%D1%82%D0%B2%D0%B0%D1%80%D1%8C%D0%BA%D0%B0%D1%81%D1%82/id1822168672" text="Apple Подкасты" button="Слушать"></IconLink>
                <IconLink src={yandexMusic} alt="Yandex Music" url="https://music.yandex.ru/album/37151903" text="Яндекс Музыка" button="Слушать"></IconLink>
                <IconLink src={castbox} alt="CastBox" url="https://castbox.fm/vic/1822168672" text="CastBox" button="Слушать"></IconLink>
                <IconLink src={overcast} alt="OverCast" url="https://overcast.fm/itunes1822168672" text="OverCast" button="Слушать"></IconLink>
                <IconLink src={pocketcasts} alt="PocketCasts" url="https://pca.st/itunes/1822168672" text="PocketCasts" button="Слушать"></IconLink>
                <IconLink src={deezer} alt="Deezer" url="https://deezer.com/show/1001982631" text="Deezer" button="Слушать"></IconLink>
                <IconLink src={zvuk} alt="Звук" url="https://zvuk.com/podcast/39189933" text="Звук" button="Слушать"></IconLink>
                <IconLink src={podcastAddict} alt="Podcast Addict" url="https://podcastaddict.com/podcast/5967180" text="Podcast Addict" button="Слушать"></IconLink>
                <IconLink src={vk} alt="VK" url="https://vk.com/podcasts-231166567" text="ВКонтакте" button="Слушать"></IconLink>
                <IconLink src={telegram} alt="Telegram" url="https://t.me/mavestreambot/app?startapp=software-cast" text="Бот в Telegram" button="Открыть"></IconLink>
            </IconSection>
            <IconSection title="Поддержать:" id="support">
                <IconLink src={donationAlerts} alt="DonationAlerts" url="https://www.donationalerts.com/r/softwarecast" text="DonationAlerts" button="Задонатить"></IconLink>
                <IconLink src={boosty} alt="Boosty" url="https://boosty.to/software-cast" text="Boosty" button="Подписаться"></IconLink>
            </IconSection>
            <Footer></Footer>
        </main>
    </body>
</html>
