---
/*
    Copyright 2025 Danila Kononov a.k.a. moony (C)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/
import { ClientRouter } from "astro:transitions";

const siteTitle = "СофтварьКаст";
const author = "Данила Кононов a.k.a. moony";
let keywords =
    "software, cast, softwarecast, podcast, софтварь, каст, софтварькаст, подкаст, moony, developer, разработчик, музыкант, musician, муни";
const link = Astro.url;
const { title = "СофтварьКаст", description, tags } = Astro.props;
keywords = keywords + tags;
---

<head>
    <!-- Charset -->
    <meta charset="utf-8" />

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Compatibility -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Page Title -->
    <title>{title}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <!-- Icon and Title for Apple Pinned App-Like Websites -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content={siteTitle} />

    <!-- Icon for Android Pinned App-Like Websites -->
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Sitemap for Crawlers -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Preload font -->
    <link rel="preconnect" href="/intruder-alert.woff2" />
    <link rel="preload" as="style" href="/intruder-alert.woff2" />
    <link rel="stylesheet" href="/intruder-alert.woff2" media="print" onload="this.media = 'all'" />

    <!-- Metadata for SEO -->
    <meta name="author" content={author} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <link rel="cannonical" href={link} />

    <!-- Metadata for Meta -->
    <meta property="og:site_name" content={siteTitle} />
    <meta property="og:url" content={link} />
    <meta property="og:title" content={title} />
    <meta property="og:image" content="/facebook.jpg" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <meta property="og:image:description" content={description} />
    <meta property="og:type" content="website" />

    <!-- Metadata for X/Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={link} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:image" content="/facebook.jpg" />

    <!-- Metadata for Vivaldi -->
    <!-- Accent from Color -->
    <meta name="theme-color" content="#074f8f">

    <!-- Give credits to Astro -->
    <meta name="generator" content={Astro.generator} />
    <!-- Yandex Verification -->
    <meta name="yandex-verification" content="d19041f2d3286045" />
</head>
