---
/*
    Copyright 2025 Danila Kononov a.k.a. moony (C)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/
import { Picture } from "astro:assets";

const { src, alt = "icon", url, text = "Ссылка", button = "Перейти" } = Astro.props;
---

<a href={url} class="flex flex-row items-center justify-between gap-2 text-[#eef5fd] font-light text-base md:text-xl p-2 md:p-4 hover:bg-[#d5e8ff]/20">
    <div class="flex flex-row items-center gap-3">
        <div class="bg-[#d5e8ff]/75 rounded-xl md:rounded-2xl flex justify-center items-center w-10 md:w-14 h-10 md:h-14 md:p-1.5 aspect-square">
            <Picture {src} {alt} width=48 layout="constrained" class="w-3/4 md:w-full h-auto p-0.5 md:p-1"></Picture>
        </div>
        <span>{text}</span>
    </div>
    <button class="hover:cursor-pointer p-2 bg-[#d5e8ff]/75 rounded-xl text-[#0b033b]">{button}</button>
</a>
