---
import Default from "../../layouts/default.astro";
import Details from "../../components/details.astro";
import DetailsGroup from "../../components/detailsgroup.astro";

const title = "FAQ - СофтварьКаст";
const description = "На этой странице собраны все часто задаваемые вопросы.";
const tags = "официально, official, вопрос, вопросы, question, questions, frequently, frequent, ask, asked, часто, задаваемые, задавать, чаво";
---

<Default {title} {description} {tags}>
    <h1 class="font-intruder text-header text-3xl lg:text-4xl xl:text-5xl text-center mb-8">Часто задаваемые вопросы</h1>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <DetailsGroup dark={false}>
            <Details summary="Что такое СофтварьКаст?" name="General">
                <p>Это подкаст, в котором я рассказываю о разных способах улучшить своё взаимодействие с компьютером. В основном это происходит через программы (Software), откуда и происходит название подкаста.</p>
            </Details>
            <Details summary="О ведущем" name="General">
                <p>Меня зовут Данила Кононов. В 2021 году я начал активно программировать. В основном это были разные вспомогательные программы, скрипты, расширения. Я видел прикладную задачу, и старался её выполнить. Вместе с тем я начал находить много полезных программ, которые могут быть незаменимы в тех или иных случаях. Потому и возникла идея рассказать о них широкому кругу лиц.</p>
                <p>Программы я нахожу исходя из личной необходимости. Читаю много форумов (но в основном Reddit), ищу информацию на YouTube, а также просто слушаю личный опыт других людей. На основе этого знакомлюсь с лучшими программами.</p>
            </Details>
            <Details summary="Есть ли какое-нибудь расписание эпизодов?" name="General">
                <p>Я стараюсь выпускать как минимум один эпизод в неделю. Или хотя бы стрим. Но у меня не сдельная работа, а также я тщательно изучаю каждую программу, о которой рассказываю. Поэтому увы, далеко не всегда получается попасть в это расписание. Если вы хотите знать о новостях первым, то вы можете зайти в <a href="https://t.me/softwarecast" class="underline" target="_blank">Телеграм Канал</a> или подписаться на <a href="https://boosty.to/software-cast" class="underline" target="_blank">Boosty</a>.</p>
            </Details>
        </DetailsGroup>
        <DetailsGroup dark={true}>
            <Details summary="Есть ли RSS-лента подкаста?" name="More">
                <p>Конечно! Добавляйте в своё любимое приложение и слушайте: <a href="https://cloud.mave.digital/64394" class="underline" target="_blank">СофтварьКаст</a>.</p>
            </Details>
            <Details summary="Можно ли скачать эпизоды?" name="More">
                <p>Конечно! В некоторых приложениях для прослушивания подкаста есть подобная функция. Если же вы хотите поддержать подкаст, или вам нравятся красивые MP3-файлы, с проставленными тегами и обложкой, то есть возможность скачать такой файл с <a href="https://boosty.to/software-cast" class="underline" target="_blank">Boosty</a>.</p>
            </Details>
            <Details summary="Как поддержать подкаст и ведущего?" name="More">
                <p>Для этого есть специальные площадки! Если вы хотите единоразово поддержать подкаст и его ведущего, для вас есть <a href="https://www.donationalerts.com/r/softwarecast" class="underline" target="_blank">DonationAlerts</a>.</p>
                <p>Если вы хотите регулярно поддерживать ведущего, для вас есть <a href="https://boosty.to/software-cast" class="underline" target="_blank">Boosty</a>. Там за подписку даются некоторые привилегии.</p>
                <p>Каждого поддержавшего я лично благодарю в конце эпизода.</p>
            </Details>
        </DetailsGroup>
        <DetailsGroup dark={true}>
            <Details summary="Можно ли запросить тему?" name="Content">
                <p>Конечно! Я буду только рад, если смогу помочь! Чтобы ускорить этот процесс я создал специальную <a href="https://forms.gle/4iGzTDSHJFZ7Dvgt7" class="underline" target="_blank">Google-форму</a>!</p>
                <p>В ней есть только два вопроса: краткое название темы (но так, чтобы я мог разобрать о чём идёт речь) и вспомогательные ссылки, если есть.</p>
                <p>Только важно понимать, что у меня много заготовленных тем, а также других занятий, так что если, вдруг, я не рассказал о вашей теме сразу, не надо на меня злиться, я постараюсь вписать её в своё расписание, но не факт, что у меня получится это сделать быстро.</p>
            </Details>
            <Details summary="Почему на некоторых площадках выпуск появляется позже?" name="Content">
                <p>Дело не в том, что я люблю какие-то платформы больше других или мне принципиально важно развивать какую-то одну из них.</p>
                <p>Дело в том, что существует процесс дистрибуции (распространения) подкастов, которым занимаюсь не я, а специальные компании. В связи с тем, как работают их внутренние процессы, выпуск на их площадке может опубликоваться раньше, а может чуть позже.</p>
                <p>Стоит отметить, что в 99,9% случаев выпуск будет доступен на всех площадках в течении двадцати четырёх часов.</p>
            </Details>
            <Details summary="Где можно обсудить эпизод с ведущим или другими слушателями?" name="Content">
                <p>Есть официальный <a href="https://t.me/softwarecast" class="underline" target="_blank">Телеграм Канал</a>, а также выпуски можно обсудить в комментариях на YouTube.</p>
            </Details>
        </DetailsGroup>
        <DetailsGroup dark={false}>
            <Details summary="Чем пользуешься для создания подкаста?" name="Setup">
                <p>Я пользуюсь тем, о чём я рассказывал) Но список вот:</p>
                <ul class="list-disc pl-6 flex flex-col gap-2">
                    <li>Для любой статитичной графики: <a href="https://www.photopea.com/" class="underline" target="_blank">Photopea</a></li>
                    <li>Для создания видеоряда: <a href="https://www.blackmagicdesign.com/products/davinciresolve/" class="underline" target="_blank">Davinci Resolve</a></li>
                    <li>
                        Для создания аудиоряда: <a href="https://www.reaper.fm/" class="underline" target="_blank">Reaper</a><br>
                        Рекомендую всем вместо Audacity.<br>
                        Только посмотрите вот этот <a href="https://youtu.be/y-Tu14fG4C8?si=epDdh587Bs7aHSZ9" class="underline" target="_blank">ролик</a>
                    </li>
                    <li>Для стримов лучше не найти, чем: <a href="https://www.obsproject.com/" class="underline" target="_blank">OBS Studio</a></li>
                </ul>
                <p>Все перечисленные программы работают на Windows, Linux и MacOS</p>
            </Details>
            <Details summary="Какая конфигурация компьютера?" name="Setup">
                <p>Мой компьютер уже староват, но с моими потребностями справляется:</p>
                <ul class="list-disc pl-6 flex flex-col gap-2">
                    <li>Видеокарта NVIDIA GTX 1070 8Gb</li>
                    <li>Процессор Intel Core i5 9600 KF</li>
                    <li>
                        SSD M.2 Samsung 980 500 Gb MZ-V8V500BW<br>
                        Плюс ещё три накопителя с разными характеристиками в совокупности на 3,25Tb.
                    </li>
                    <li>Микрофон RODE Podcaster</li>
                    <li>В качестве вебкамеры используется камера телефона, как я рассказывал в эпизоде про синхронизацию.</li>
                    <li>Остальное интереса в моём компьютере особо не представляет) Кроме кулера Noctua)</li>
                </ul>
            </Details>
        </DetailsGroup>
    </div>
</Default>
